@charset "UTF-8";

/* リセットcss */
@import url(/css/sanitize.css);
/* フォント指定 */
@import url(http://fonts.googleapis.com/earlyaccess/notosansjapanese.css);

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}

/* 10px */
html {
  font-size: 62.5%;
}

body {
  font-family: 'Noto Sans Japanese', serif;
  font-size: 1.2rem;
  max-width: 1920px;
}
*, *::before, *::after {
  box-sizing: border-box;
}
a:link, a:visited, a:hover, a:active {
  color: #0000ff;
  text-decoration: none;
}

li {
  list-style: none;
}

ul {
  padding-left: 0;
}

img {
  height: 100%;
  width: 100%;
  max-width: 100%;
}

/* レイアウト */
.ly_header {
  width: 100%;
  background-color: #333;
}

.ly_header_inner {
  background-color: #333;
}

.ly_main {
  background-color: #333;
}

.ly_mvTop {
  background-color: #333;
}

.ly_mvBottom {
  background-color: #333;
}

.ly_feature {
  background-color: #333;
}

.ly_feature_inner {
  background-color: #333;
}

.ly_plan {
  background-color: #333;
}

.ly_plan_inner {
  background-color: #333;
}

.ly_plan_body {
  background-color: #333;
}

.ly_info {
  background-color: #333;
}

.ly_info_inner {
  background-color: #333;
}

.ly_info_body {
  background-color: #333;
}

.ly_access {
  background-color: #333;
}

.ly_footer {
  background-color: #333;
}
